body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2f2139;
}

.page {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 55px; 
}

p{
    font-size: 24px;
}

ol{
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #086466;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1.5rem;
}

.nav-center {
  font-size: 32px;
  color: white;
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}